/* used to center the calculator but allows any text above and below the calculator to be independent of this alignment */
#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container for the main body for the entire calculator */
#calcContainer {
    padding: 5px;
    width: 300px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    /* midnight blue from apples new M2 macbook air */
    background-color: rgb(25,25,112);
}

/* this has to go above the individual selectors so individual styling takes precedence */
#outputScreenContainer, #numberAndOperatorBtnsMainContainer {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

/* container for the screen of the calculator that displays the numbers/equations */
#outputScreenContainer {
    height: 80px;
    background-color: white;
    margin-top: 10px;
    font-size: 50px; /* this is NOT needed as font size is set in JS but this is kept here as a backup */
}

/* styling of the numbers & operators */
#numberAndOperatorOutput {
    margin: 0;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* used for wrapping text for very long numbers */
    word-break: break-all;
}

/* container that holds all the numbers & btns */
#numberAndOperatorBtnsMainContainer {
    /* matches the color of the apple logo */
    background-color: rgb(148,148,148);
    margin-top: 12px;
    padding: 15px;
}

#deleteClearAndDivideBtns {
    display: grid;
    /* can't use repeat as I need the divide button to be a little wider to match the width of the other operators in the column */
    grid-template-columns: auto auto 55px;
    column-gap: 15px;
}

#numbersAndOperatorsBtns {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    row-gap: 10px;
    margin-top: 10px;
}

/* used to have the button sit in the second column */
#zeroBtn {
    grid-column: 2;
}

/* used to have the button sit in the last column */
#equalsBtn {
    grid-column: 4;
}

button {
    border-radius: 10px;
    transition-duration: 0.2s;
    font-size: 20px;
    padding: 10px;
}

/* use 'enabled' so affect only takes place when btn is NOT disabled */
button:hover:enabled {
    /* matches color of calculator background on hover */
    background-color: rgb(25,25,112);
    color: white;
}

/* apple logo */
img {
    width: 40px;
    height: 10x;
    display: block;
    margin: 5px auto;
}