/* used to center the calculator but allows any text above and below the calculator to be independent of this alignment */
#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container for the main body for the entire calculator */
#calcContainer {
    border: 5px solid red;
    padding: 5px;
    width: 275px;
    margin-top: 50px;
}

/* container for the screen of the calculator that displays the numbers/equations */
#outputScreenContainer {
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    height: 50px;
}

/* container that holds all the numbers & btns */
#numberAndOperatorBtnsMainContainer {
    border: 5px solid purple;
    padding: 5px;
    margin: 5px;
}

#deleteAndClearBtns {
    border: 5px solid green;
}

#numbersAndOperators {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 5px solid red;
    gap: 20px;
}

/* used to stretch the zero button across all columns on the bottom */
#zero {
    grid-column: 1/4;
}

#equals {
    border: 5px solid blue;
}

/* styling of the numbers & operators */
#numberAndOperatorOutput {
    color: red;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}